menu "Application Settings"

config APP_VERSION
    string "Application version"
    default "1.0.0"

config POWER_SAVING_MODE_ENABLE
    bool "Enable Power Saving Mode (PSM)"
    help
      Enable to request Power Saving Mode from cellular network.

config LTE_INIT_RETRY_TIMEOUT_SECONDS
    int "LTE initialization retry timeout (seconds)"
    default 30
    help
      Sets the number of seconds between each LTE modem initialization
      retry.

config DATE_TIME_ESTABLISHMENT_TIMEOUT_SECONDS
    int "Modem date and time establishment timeout (seconds)"
    default 300
    help
      The sample will wait this many seconds for the modem to determine the
      current date and time before giving up and moving on.

# --- Stack Sizes ---
config APPLICATION_THREAD_STACK_SIZE
    int "Application Thread Stack Size (bytes)"
    default 2048

config CONNECTION_THREAD_STACK_SIZE
    int "Connection Thread Stack Size (bytes)"
    default 2048

config LED_THREAD_STACK_SIZE
    int "LED Thread Stack Size (bytes)"
    default 512

# --- Sensor Interval ---
config SENSOR_SAMPLE_INTERVAL_SECONDS
    int "Sensor sampling interval (seconds)"
    default 60
    help
      Sets the time to wait between each sensor sample.

# --- LED Indication ---
choice
    prompt "LED indication"
    default LED_INDICATION_PWM if BOARD_THINGY91_NRF9160_NS
    default LED_INDICATION_GPIO if BOARD_NRF9160DK_NRF9160_NS || BOARD_NRF9161DK_NRF9161_NS || $(dt_compat_enabled,gpio-leds)
    default LED_INDICATION_DISABLED

    config LED_INDICATION_PWM
        select LED
        select LED_PWM
        select PWM
        bool "Enable LED indication using the pwm-leds driver"

    config LED_INDICATION_GPIO
        select LED
        select LED_GPIO
        bool "Enable LED indication using the gpio-leds driver"

    config LED_INDICATION_DISABLED
        bool "Disable LED indication"
endchoice

choice
    prompt "LED indication LED type"
    depends on !LED_INDICATION_DISABLED
    default LED_INDICATOR_RGB if BOARD_THINGY91_NRF9160_NS && LED_INDICATION_PWM
    default LED_INDICATOR_4LED if !LED_INDICATION_DISABLED
    default LED_INDICATOR_NONE

    config LED_INDICATOR_RGB
        depends on LED_INDICATION_PWM
        bool "A single RGB LED"

    config LED_INDICATOR_4LED
        depends on !LED_INDICATION_DISABLED
        bool "Four binary LEDs"

    config LED_INDICATOR_NONE
        depends on LED_INDICATION_DISABLED
        bool "No indicator LEDs"

endchoice

config LED_VERBOSE_INDICATION
    depends on !LED_INDICATION_DISABLED
    bool "Enables extra LED status indications"
    default y

config LED_CONTINUOUS_INDICATION
    depends on !LED_INDICATION_DISABLED
    bool "Show an idle pattern instead of turning LEDs off"
    default y

# --- ThingsBoard CoAP Settings ---
config CLOUD_THINGSBOARD_COAP
    select COAP_UTILS
    bool "Enables reporting to Thingsboard cloud"
    default y

config CLOUD_THINGSBOARD_COAP_SERVER_HOSTNAME
    depends on CLOUD_THINGSBOARD_COAP
    string "Thingsboard CoAP server hostname"
    default "coap.thingsboard.cloud"

config CLOUD_THINGSBOARD_COAP_SERVER_PORT
    depends on CLOUD_THINGSBOARD_COAP
    int "CoAP server port"
    default 5683
    
config CLOUD_THINGSBOARD_COAP_ACCESS_TOKEN
    depends on CLOUD_THINGSBOARD_COAP
    string "Thingsboard device access token (TBD, move value to sec storage in the SoC)"

endmenu

# --- Log Module ---
# We just use a generic name here
module = APP
module-str = Application
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu